@model RIMS.Models.Incubator

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Incubator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IncubatorModelId" class="control-label"></label>
                <select asp-for="IncubatorModelId" class="form-control" asp-items="ViewBag.IncubatorModelId"></select>
                <span asp-validation-for="IncubatorModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonitoringDeviceId" class="control-label"></label>
                <input asp-for="MonitoringDeviceId" class="form-control" />
                <span asp-validation-for="MonitoringDeviceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdentityUserId" class="control-label"></label>
                <input asp-for="IdentityUserId" class="form-control" value="Default" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
