@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    8, Kalulu Close<br />
    New Naperi, Blantyre<br />
    <abbr title="Phone">P:</abbr>
    8888 284 857
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">bis11-kkamsesa@poly.ac.mw.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">kamsesakond@hotmail.com</a>
</address>
