@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    8, Kalulu Close<br />
    New Naperi, Blantyre<br />
    <abbr title="Phone">P:</abbr>
    8888 284 857
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">bis11-kkamsesa@poly.ac.mw.com</a><br />
    <strong>Email:</strong> <a href="mailto:Marketing@example.com">kamsesakond@hotmail.com</a>
</address>
<hr />
<!-- Container (Contact Section) -->
    <div class="row">
        
        <div class="col-sm-6 slideanim">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>

