@{
    ViewData["Title"] = "Contact";
}
<h3>Developer Details</h3>
<hr />
<address>
    Kondwerani Kamsesa<br />
    8, Kalulu Close<br />
    New Naperi, Blantyre<br />
    <abbr title="Phone">Phone:</abbr>
    8888 284 857<br />
    Email: <a href="">kamsesakond@hotmail.com</a>
</address>

<address>
    URL: <a href="https://github.com/Kond94/RIMS">GitHub - Kond94</a>
</address>
<hr />
