@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{

}

else
{
    <div id="services" class="container-fluid text-center">
        <h2><strong>REMOTE INCUBATOR MONITORING SYSTEM</strong></h2>
        <br>
        <div class="row slideanim slide">
            <div class="col-sm-4">
                <img src="~/images/Be_In_Control1280x720 .png" style="width:100%; height:220px;" />
                <p>Tempreture and Humidity Monitoring</p>
                <div class="row">
                    <div class="">
                        <span class="glyphicon glyphicon-globe logo slideanim slide"></span>
                    </div>
                    <div class="">
                        <h3>Our Values</h3>
                        <h4> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h4><br>
                        <p>
                            
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="">
                        <span class="glyphicon glyphicon-off"></span>
                        <h4 style="color:#303030;">Power Management</h4>
                        <p>Manage your Incubators backup power</p>
                    </div>

                    <div class="">
                        <span class="glyphicon glyphicon-certificate"></span>
                        <h4>Incubator State</h4>
                        <p>Monitor your incubators stae, Anytime, Anywhere!</p>
                    </div>

                    <div class="">
                        <span class="glyphicon glyphicon-tasks"></span>
                        <h4>Push Notifications</h4>
                        <p>Receive real time notifications for various functions</p>
                    </div>

                </div>
                <div class="row">
                    <p class="text-center">
                        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-success btn-lg btn-outline-rounded green">Start using RIMS <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="~/images/Precise_Hatching1280x720.png" style="width:100%; height:220px;" />
                <p>Hatching Calender for Precision Farming</p>
                <div class="row">
                    <div class="">
                        <span class="glyphicon glyphicon-globe logo slideanim slide"></span>
                    </div>
                    <div class="">
                        <h3>Our Values</h3>
                        <h4> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h4><br>
                        <p>

                    </div>
                </div>
            </div>
        </div>
        <br><br>
        
    </div>
    
}