@model RIMS.Models.PushSubscription

@section Scripts
{
    <script src="@Url.Content("~/js/SendDevice.js")"></script>
}
@{
    ViewData["Title"] = "Send";
}
<h2>Send Message To Subscribers</h2>
<hr />

<div class="row">
    <div class="alert alert-info">
        <strong>Notes:</strong>
        <ul>
            <li>You can use this page to send notifications to users who have subscribed</li>
            <li>If you registered succesfully, you will receive a notification shortly after sending</li>
        </ul>
    </div>
    <div class="col-md-4">
        <div class="well" style="width: 500px;">
            <h4>Notification sender</h4>
            <span style="font-size: 12px;">Type your Title and Message and your notification will be generated below.</span>
            <hr/>
            <div class="form-group">
                <label class="control-label" for="Title">Title</label>
                <input class="form-control" type="text" id="Title" name="Title" value="">
            </div>
            <div class="form-group">
                <label class="control-label" for="Message">Message</label>
                <input class="form-control" type="text" id="Message" name="Message" value="">
            </div>
        </div>
        
        <form asp-action="Send">
            <input type="hidden" asp-for="Id"/>
            <div class="form-group" hidden>
                <label class="control-label" for="Payload">Payload</label>

                <textarea id="Payload" name="Payload" style="width: 500px; height: 200px;"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Notification" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Devices" asp-action="Index">Back to List</a>
</div>